# ================= FRONTEND =================
ecommerceFrontend/node_modules/
ecommerceFrontend/dist/
ecommerceFrontend/.env

# ================= BACKEND =================
ecommerceBackend/target/

# ================= GLOBAL =================
.env
*.log
.DS_Store

# ================= IDE =================
.idea/
.vscode/